*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.container{
    background-color: #c2acd1;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
}
.content{
    max-width: 900px;
    margin:0 auto;
}
.top_section{
    margin: 100px;
    display: flex;
    justify-content:space-between;
    align-items:flex-end;
}
h1{
    font-size: 40px;
    font-weight: bold;
    color: black;
}
h4{
    font-size: 30px;
    text-align: end;
}
img{
    width: 300px;
    height: 320px;
    border-radius: 50%;
}
h2{
    font-size: 60px;
    padding: 30px;
}
p{
    line-height: 30px;
    letter-spacing: 1.2px;
}
h3{
    font-size: 60px;
    margin: 30px;

}
li{
    letter-spacing:1.2px ;
    line-height: 30px;
}